Options -Indexes
DirectoryIndex index.html

# Kunci folder internal
RedirectMatch 403 ^/(app|storage)/
<FilesMatch "^\.">
    Require all denied
</FilesMatch>

<IfModule mod_headers.c>
    Header always set X-Content-Type-Options "nosniff"
    Header always set Referrer-Policy "same-origin"
</IfModule>
